# Backend End point url
REACT_APP_SERVER_NEW="http://127.0.0.1:81"

# Google place api
REACT_APP_GOOGLE_API = "AIzaSyAkC6DNWJGsgQc_kLijmZjRDmLVImA9MT0"

# Frontend url
REACT_APP_FRONTEND="http://localhost:3000"

# Used in Landing page Showcase
REACT_APP_COLLEGE_LOGO_PATH_PRELOADIMAGE="assets/preload_image.png"

# To enable stripe checkout
REACT_APP_STRIPE_CHECKOUT_ENABLED = "true"

REACT_APP_SIDEBAR_PRODUCT_IMAGES_ENABLED = "true"
REACT_APP_CART_ENABLED = "true"
REACT_APP_AUTHTYPE_SAML = "false"
REACT_APP_SHOWPRICE = "true"
REACT_APP_SAMPLE_PRODUCT_SLIDER = "true"

REACT_APP_ORGANISATION_ID = "ORGANISATION ID HERE"

# To access S3 Bucket to generate Pre-sign url
REACT_APP_AWS_ACCESS_KEY_ID="AKIAZB56DPFBSV7OUWEN"
REACT_APP_AWS_SECRET_ACCESS_KEY="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"