.productPageInputbox {
    text-align: left;
    width: 100%;
    height: 100px;
    resize:vertical;
    overflow-y: hidden;
    color: black;
    font-size: .8rem;
    outline: none;
    background-color: transparent;
    padding:10px;
    caret-color: rgb(0, 0, 0); 
    position: relative;
}

.ant-tour-footer .ant-btn-primary{
    background-color: #1677ff;
}

.ant-tour{
    width: auto;
}

.ant-select-selector {
    border: none !important;
    outline: none !important;
}
  

.Select:hover {
box-shadow: 0 0 10px rgba(0,0,0,0.2); 
background-color: #f0f0f0; 
border: 1px solid #1677ff; 
}
  