.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  align-items: center;
  height: 100vh;
  background-color: #A9C8C0;
  padding: 20px;
  box-sizing: border-box;
}

.loading-logo {
  width: 250px;
  margin-bottom: 20px; /* Space between logo and title */
}

.design-ideas {
  font-size: 28px;
  font-family: 'ARSENAL';
  margin-bottom: 20px; /* Space between title and prompt */
}

.loading-prompt {
  font-size: 20px;
  color: #333;
  max-width: 80vw;
  text-align: center;
  transition: opacity 0.8s ease-in-out;
  margin-bottom: 20px; /* Space between prompt and loading dots */
}

.loading-prompt.fade-in {
  opacity: 1;
}

.loading-prompt.fade-out {
  opacity: 0;
}

/* Loading dots container directly below the prompt */
.loading-dots-container {
  margin-top: 20px; /* Adds space between prompt and dots */
}

@media (max-width: 768px) {
  .loading-logo {
    width: 200px;
  }

  .design-ideas {
    font-size: 24px;
  }

  .loading-prompt {
    font-size: 18px;
  }
}
