* {
  font-size: 1em; 
  font-family: 'Poppins', sans-serif; 
}

.error-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    height: 100vh;
  }
  
  .error-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .error-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .error-container button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  .error-container button:hover {
    background-color: #0056b3;
  }
  